<!DOCTYPE html>
<html>
  <head>
    <title>formulario de cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formulario</h1>
    <p>Escreva suas informaçoes</p>
    <form action="save" method="POST">
      <p>
        <label>Email:
         <input type="email" name="email">
        </label>
      </p>
     <p>
       <label>Nome:
       <input type="text" name="name"/>
     </p>
       </label>
      <p>
       <label>idade:
       <input type="number" name="age">
       </label>
      </p>
      <p>
        <input type="submit" value="salvar">
      </p>
    </form>
  </body>
</html>
