<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>formulario de cadastro</title>
  </head>
  <body>
    <header><h1>Cadastro De Usuario</h1></header>
    <main>
    <p><h2>Cadastre suas informaçoes</h2></p>
    <form action="save" method="POST">
      <p>
        <label>Nome:
        <input type="text" name="name" placeholder="digite o seu Nome"/>
      </label>
      </p><br>
      <p>
        <label>Email:
         <input type="email" name="email" placeholder="digite o seu email">
        </label>
      </p><br>
      <p>
       <label>Senha:
       <input type="password" name="senha" placeholder="digite sua senha">
        <input type="submit" value="salvar">
       </label>
      </p>
    </form>
    </main>
  </body>
</html>
