<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>formulario de cadastro</title>
  </head>
  <body>
    <header><h1>Cadastro De Usuario</h1></header>
    <main>
    <p><h2>Cadastre suas informaçoes</h2></p>
    <form action="save" method="POST">
      <p>
        <label>Nome:
        <input type="text" name="name" placeholder="digite o seu Nome"/>
      </label>
      </p><br>
      <p>
        <label>Email:
         <input type="email" name="email" placeholder="digite o seu email">
        </label>
      </p><br>
      <p>
       <label>Senha:
       <input type="password" name="senha" placeholder="digite sua senha">
        <br><br><input type="submit" value="salvar" class="botao">
       </label>
      </p>
    </form>
    <ul>
      <p>Nome:</p>
      <% for(let i = 0; i < result.length; i++ ) { %>
      <li><%= result[i].name %> (<%= result[i]._id %>)</li>
      <% } %>
      <br><p>Email :</p>
      <% for(let i = 0; i < result.length; i++ ) { %>
        <li><%= result[i].email %> (<%= result[i]._id %>)</li>
        <% } %>
    </ul>
    <div class="exclusão"><h2>Exclusão</h2>
    <form action="delete" method="POST">
      <p>
        <label class="ID">ID:
        <input type="text" name="id" placeholder="digite o seu Nome"/>
      </label>
      </p><br>
      <p>
      <p>
        <input type="submit" value="Excluir" class="botao">
      </p>
    </div>
    </main>
  </body>
</html>
